{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{post.title_tag}}{% endblock %}</title>
        <!-- <script src="https://kit.fontawesome.com/e22171f175.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    
        {% block content %}

        <h1>{{post.title}} <small> &nbsp; &nbsp; #<a href="{% url 'category' post.category %}" class="link-body-primary link-offset-2 link-underline link-underline-opacity-0">{{post.category}}</a></small></h1>
    
        <small>BY: {{post.author.first_name}} {{post.author.last_name}} &nbsp; &nbsp; {{post.post_date}}  &nbsp; &nbsp; {{total_likes}} likes &nbsp;
            {% if user.id == post.author.id %} 
                <a href="{% url 'update-post' post.pk|slugify %}" class="btn btn-primary">Edit</a>-
                <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a></small>
            {% endif %}
        <hr>
        <br/>
        {{post.body|safe}}

        <br/><br/>
        <a href="{% url 'home' %}" class="btn btn-dark">BACK</a>

        <br/><br/>
        <hr>
        <br/>
        {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.pk %}" method="post">
            {% csrf_token %}
            {% if liked %}
                <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger" style="font-size: 24px;" ><span style="color:white;">&hearts;</span> Unlike</button>
                {% else %}
                <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary" style="font-size: 24px;"><span style="color: white;">&hearts;</span> Like</button>
            {% endif %}
        </form>
        {% else %}
        Login to like this post
        {% endif %}
        {% endblock %}
    </body>
</html>