{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Delete BLOG POST{% endblock %}</title>
</head>
<body>
    
{% block content %}
{% if user.is_authenticated %}
<h1>Delete BLOG POST</h1>
<br/>
<h3>delete:{{post.title}}</h3><br/>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <strong>Are you sure??</strong><br/>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% else %}
you are not allowed here
{% endif %}
{% endblock %}
</body>
</html>