{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Central City Citizen{% endblock %}</title>
</head>
<body>
    
{% block content %}
<h1>Post</h1>


    {% for post in object_list %}
        <h3><a href="{% url 'article-detail' post.pk %}" class="link-body-emphasis  link-offset-2 link-underline link-underline-opacity-0">{{post.title}}</a>
        <small>&nbsp; &nbsp; #<a href="{% url 'category' post.category|slugify %}" class="link-body-primary link-offset-2 link-underline link-underline-opacity-0">{{post.category}}</a></small></h3> By: {{post.author.first_name}} {{post.author.last_name}} &nbsp; &nbsp; {{post.post_date}}
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'update-post' post.pk %}" class="btn btn-primary">Edit</a>-
        <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
        {% endif %}
        <br/>
        {{post.body|slice:":250"|safe}}
        <br/><hr>
    {% endfor %}


{% endblock %}
</body>
</html>